 /*
    The stylesheet for the diagram module
*/
body {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    top: 0;
}

#svg-container {
    width: 100%;
    height: calc(100% - 2px);
    margin-left: auto;
    margin-right: auto;
}



/* Elements */


/* The elementsymbol itself*/
.stationSymbol {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 15%;
    height: 45%;
}

.stationSymbol svg {
    width: 100%;
    height: 100%;
}

.stationSymbolUmspannwerk {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 10px;
    width: 40%;
}


/*Dialog in the left*/

/*Set visibility here*/
.dialogLeft {
    display: none;
    height: 24vh;
    width: 22vh;
}

/*Dialog in the right*/

/*Set visibility here*/
.dialogRight {
    display: none;
    height: 24vh;
    width: 22vh;
}

/*Content of the dialog on the right*/
.dialogContentRight {
    border-bottom-left-radius: 0.3vw;
    border-bottom-right-radius: 0.3vw;
    border-top-left-radius: 0.3vw;
    border-top-right-radius: 0.3vw;
    position: absolute;
    right: 0;
    height: auto;
    width: 90%;
    overflow: hidden;
    background-color: darkgray;
    -webkit-box-shadow: 9px 19px 49px -13px rgba(0,0,0,0.28);
    -moz-box-shadow: 9px 19px 49px -13px rgba(0,0,0,0.28);
    box-shadow: 9px 19px 49px -13px rgba(0,0,0,0.28);
}

/*Content of the dialog on the left*/
.dialogContentLeft {
    border-bottom-left-radius: 0.3vw;
    border-bottom-right-radius: 0.3vw;
    border-top-left-radius: 0.3vw;
    border-top-right-radius: 0.3vw;
    position: absolute;
    left: 0;
    height: auto;
    width: 90%;
    background-color: darkgray;
    -webkit-box-shadow: -9px 19px 49px -13px rgba(0,0,0,0.28);
    -moz-box-shadow: -9px 19px 49px -13px rgba(0,0,0,0.28);
    box-shadow: -9px 19px 49px -13px rgba(0,0,0,0.28);
}

/*Connection to the element for right dialog*/
.triangleRight {
    position: absolute;
    top: 4.5vh;
    right: 90%;
    width: 0;
    height: 0;
    -ms-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
    border-style: solid;
    border-width: 3vh 2vh 3vh 0;
    border-color: transparent darkgray;
}

/*Connection to the element for left dialog*/
.triangleLeft {
    position: absolute;
    top: 4.5vh;
    left: 90%;
    width: 0;
    height: 0;
    -ms-transform: rotate(180deg);
    -moz-transform: rotate(180deg);
    -webkit-transform: rotate(180deg);
    -o-transform: rotate(180deg);
    transform: rotate(180deg);
    border-style: solid;
    border-width: 3vh 2vh 3vh 0;
    border-color: transparent darkgrey transparent transparent;
}

/*Headelement of the dialog*/
.dialogStationTitle {
    border-top-left-radius: 0.3vw;
    border-top-right-radius: 0.3vw;
    width: 100%;
    color: white;
    background-color: gray;
    overflow: auto;
    display: flex;
}

    /*Elementname*/
    .dialogStationTitle p {
        width: 97%;
        padding-bottom:0.5vh;
        min-height: 8%;
        float: left;
        overflow: hidden;
        font-size: 2vh;
        -ms-hyphens: auto;
        -webkit-hyphens: auto;
        hyphens: auto;
    }

.wrapperDialog {
    width: 77%;
    min-height: 8%;
    max-height:30%;
    float: left;
    word-wrap: break-word;
    font-size: 0.9vw;
    margin-left: 0.25vw;
    margin-top:.5vw;
    margin-bottom:.5vw;
    overflow: hidden;
}

.wrapperStatusConnections p {
    float:left;
}

 .wrapperStatusConnections p:last-child {
     float:none;
 }

 .wrapperStatusConnections p:first-child {
     padding-left: 15px;
 }

/*Close button*/
.dialogClose {
    border-top-right-radius: 0.3vw;
    overflow: auto;
    width: 4vh;
    height: auto;
    float: right;
    background: url("../res/img/close.svg") no-repeat;
    background-size: 50% 50%;
    background-position: center;
}

    .dialogClose:hover {
        background-color: rgb(144,144,144)
    }

/*Status of the element*/
.stationStatusOnline {
    margin-top:5%;
    background-color: green;
    margin-left: 5%;
    height: 4vh;
    width: 17.8vh;
}

    .stationStatusOnline p {
        font-size: 2vh;
        color: white;
        text-align: center;
        position: relative;
        top: 50%;
        transform: translateY(-50%);
    }

.stationStatusOffline {
    margin-top: 5%;
    display: none;
    background-color: red;
    margin-left: 5%;
    height: 4vh;
    width: 90%;
}

    .stationStatusOffline p {
        font-size: 2vh;
        color: white;
        text-align: center;
        position: relative;
        top: 50%;
        transform: translateY(-50%);
    }

/*parting line*/
.hLine {
    margin-top: 5%;
    margin-right:5%;
    margin-left:5%;
    width: 90%;
    height: 0.25vh;
    background-color: gray;
}

/*Connection selector*/
.connections {
    margin-top: 5%;
    margin-left: 5%;
    width: 90%;
    font-size: 15px;
}

/*Status of selected element*/
.connectionStatusOnline {
    display: block;
    background-color: green;
    margin-top: 5%;
    margin-left: 5%;
    height: 4vh;
    width: 90%;
}

    .connectionStatusOnline p {
        font-size: 2vh;
        color: white;
        text-align:center;
        position: relative;
        top: 50%;
        transform: translateY(-50%);
    }

.connectionStatusOffline {
    display: none;
    background-color: red;
    margin-top: 5%;
    margin-left: 5%;
    height: 4vh;
    width: 90%;
}

    .connectionStatusOffline p {
        font-size: 2vh;
        color: white;
        text-align: center;
        position: relative;
        top: 50%;
        transform: translateY(-50%);
    }

/*Button for toggling the status of selected connection*/
.btn-setStatus {
    font-size: 1.5vh;
    margin-top: 5%;
    margin-left: 5%;
    margin-bottom: 5%;
    padding: 0 0 0 0;
    height: 4vh;
    width: 89%;
}

/* Class for the overload style*/
.overload {
    animation: blinker 0.8s cubic-bezier(.5, 0, 1, 1) infinite alternate;
}

@keyframes blinker {
    to {
        opacity: 0.1;
    }
}
