/*
    The stylesheet for the simulation page
*/

/*
    General
*/
.left {
	float: left;
}

/*
	Texts
*/
@media all and (min-width: 1000px) {
	.text-medium {
		font-size: 16px;
	}
}

@media all and (max-width: 1000px) {
    .text-medium {
	font-size: 1.5vw;
    }
}

/*
	Navigationbar
*/
#close-btn{
	width: 400px;
	height: 36px;
	background: url("http://netzdatenstrom.imis.uni-luebeck.de/assets/images/logo_50.png") no-repeat;
	background-size: contain;
}

#link-btn{
	width: 0.1vw;
	margin-left:2vw;
}

#time {
  text-align: center;
  color: black;
  margin-top: 0.5vw;
  margin-right:2vw;
	display: none;
}

/*
	Grid
*/
#grid-container {
	position: absolute;
	top: 60px;
	bottom: 0;
	left: 0;
	right: 0;
	overflow: hidden;
}
#container {
	position: relative;
	left: 0;
	right: 0;
	top: 0;
	height: 100%;
	width: 100%;
	bottom: 0;
	background-color: #f2f2f2;
	overflow: hidden;
}

/*
	Tutorial
*/
#tutorial-container {
	z-index: 2;
}

#info-btn,
#info-btn:hover{
	margin-top: 0.6vh;
	background: url("../res/img/info.png") no-repeat;
	background-size: 85% 85%;
	filter: invert(100%);
}
#close-btn:hover
#info-btn:hover {
	cursor: pointer;
}
